@model DI_Project.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.Extensions.Options
@inject IOptions<DI_Project.Utility.AppSettingsClasses.WazeForecastSettings> wazeForecastSettings

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.MarketForecast</p>
    <p>Current Market Prediction Status : @(wazeForecastSettings.Value.ForecastTrackerEnabled?"Online":"Offline")</p>
</div>
